/*@import "../../../shared/custom-mat-table/custom-mat-table.component.scss";*/
/*@import "../../../shared/styles/table.style.scss";*/

@import "../../../shared/styles/table.style.scss";

.mat-table {
  overflow: auto;
  height: calc(#{$dialog-vh} - 150px);
  width: calc(#{$dialog-vw} - 37vw);
}
