@import "../../shared/styles/table.style.scss";

.mat-column-HasCheck {
  flex: 0 0 75px;
}
/*
.mat-column-AssignedByString, .mat-column-Command {
  flex: 0 0 150px !important;
}*/

.mat-table {
  overflow: auto;
  height: calc(#{$master-vh} - 150px);
  width: calc(#{$master-vw} - 150px);
}
