<div class="master-dialog-vh">
  <H5 style="color:cadetblue">Select checklist for workpermit</H5>
  <div class="child-container">
    <div class="center-content">
      <div *ngIf="!InfoValue;else InfoBlock">
        <div *ngIf="mode === 0;else ElseBlock">
          <app-check-list-table-dialog (returnSelected)="onSelectedValue($event)" (returnSelectedWith)="onEditInfo($event)"></app-check-list-table-dialog>
        </div>
        <ng-template #ElseBlock>
          <app-check-list-table-dialog (returnSelectesd)="onSelectedValues($event)" (returnSelectedWith)="onEditInfo($event)" [isMultiple]="true"></app-check-list-table-dialog>
        </ng-template>
      </div>
      <ng-template #InfoBlock>
        <app-check-list-info-dialog [InfoValue]="InfoValue" (SubmitOrCancel)="onComplateOrCancelEntity($event)">
        </app-check-list-info-dialog>
      </ng-template>
    </div>
    <div class="right-content ml-1">
      <button mat-mini-fab color="accent" (click)="onSelectedClick()" matTooltip="select"
              [disabled]="(!getValue && !getValues) || InfoValue">
        <mat-icon>done_all</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="onCancelClick()"
              matTooltip="close dialog">
        <mat-icon>clear</mat-icon>
      </button>
      <hr />
      <button mat-mini-fab color="primary" (click)="onNewEntity()"
              matTooltip="add new data" [disabled]="InfoValue">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
